:root {
  --main-font: 'Lato', sans-serif;
  --second-font: sans-serif;
  --font-root-size: 16px;

  --text-xxs: .625rem;  /* 10px */
  --text-xs: .75rem;  /* 12px */
  --text-sm: .875rem; /* 14px */
  --text-md: .9375rem; /* 15px */
  --text-lg: 1.125rem; /* 18px */
  --text-base: 1rem; /* 16px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2rem; /* 32px */
  --text-5xl: 2.25rem; /* 36px */
  --text-6xl: 2.5rem; /* 40px */
  --text-7xl: 3rem; /* 48px */

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --white: #fff;
  --black: #000;
  --gray: #454545;
  --grayer: #2C2C2C;
  --red: #dc3545;

  --main-color: #199AA6;
  --second-color: #E57A8D;
  --third-color: #1175B7;



  --heading-color: #454545;
  --subheading-color: #7D7D7D;
  --text-color: #72777a;

  --transition-all: all .25s ease;

  --container: 100%;
}

html{
  font-size: var(--font-root-size);
  scroll-behavior: smooth;
}

body{
  font-family: var(--main-font) !important;
  color: var(--text-color);
  background: none;
}

p,
li{
  color: var(--text-color);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  line-height: 1.75;
}

a,
a:hover,
a:focus{
  text-decoration: none;
  transition: var(--transition-all);
  outline: none;
}

a:hover,
a:focus{
  color: var(--second-color);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  line-height: 1.25;
  font-family: var(--main-font);
  font-weight: var(--font-normal);
  color: var(--heading-color);
}

b, strong{
  font-weight: var(--font-semibold);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid;
  border-color: var(--third-color);
}

img{
  max-width: 100%;
  height: auto;
}

/* .loginPanel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  z-index: 1;
}

.authContainer .card {
  min-width: 500px !important;
  background-color: rgba(255,255,255, .7) !important;
  position: relative;
  z-index: 2;
}

.authContainer .card-header {
  display: flex;
  justify-content: center;
}

.authContainer .card-body .form-group input {
  background-color: rgba(255,255,255, .7) !important;
}

.nav-logo {
  width: 45px;
  height: 45px;
}

.sidebar-sticky a {
  display: flex;
  align-items: center;
  color: var(--white);
}

.sidebar-sticky a:hover {
  color: var(--gray);
}

.sidebar-sticky a .ti-home {
  color: #2196f3;
}

.sidebar-sticky a .ti-email {
  color:#795548;
}

.sidebar-sticky a .ti-calendar {
  color: #ff5722;
}

.sidebar-sticky a .ti-comment-alt {
  color: #673ab7;
}

.sidebar-sticky a .ti-folder {
  color: #ff9800;
}

.sidebar-sticky a .ti-file {
  color: #2196f3;
}

.sidebar-sticky a .ti-user {
  color: #009688;
}

.sidebar-sticky a .ti-bag {
  color: #9c27b0;
}

.sidebar-sticky a .ti-share-alt {
  color: #ff9800;
}

.sidebar-sticky a .ti-archive {
  color: #e91e63;
}

.sidebar-sticky a > i {
  margin-right: 1rem;
}

.error-page {
  height: 100vh;
}

.sidebar {
  /* height: calc(100vh - 61px); */
  height: 100vh;
  position: fixed;
  z-index: 1;
  padding-top: 61px;
}

.userMenu {
  margin-right: 4rem;
}

#root {
  background-color: #f9fafb;
}

.bg {
  background-color: transparent;
  /* background-color: #f9fafb; */
  /* width: calc(100% - 250px) !important;
  height: calc(100vh - 61px) !important; */
}

.counter {
  position: absolute;
  top: -0.5rem;
  left: .7rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--red);
  font-size: .7rem;
  font-weight: 600;
}

.counter.mail {
  left: 1.09rem;
}

.icoWithCounter {
  position: relative;
}

.icoWithCounter a:hover {
  color: #ff9800;
}

.icoWithCounter .dropdown-toggle::after {
  content: none;
}

.notificationsMenu{
  min-width: 320px !important;
  left: -12rem !important;
}

.text-color {
  color: var(--text-color) !important;
}

.font-semibold {
  font-weight: var(--font-semibold) !important;
}

.black {
  color: var(--black);
}

.notification:hover {
  background-color: whitesmoke;
}

.notification .content {
  font-size: var(--text-xs);
  flex-direction: column;
  display: flex;
}

.text-sm {
  font-size: var(--text-sm) !important;
}

.emailsMenu {
  min-width: 320px !important;
  left: -12rem !important;
}

.profileInformation {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.profile .box {
  background-color: var(--white);
  -webkit-box-shadow: 0px 8px 12px -7px rgb(66 68 90);
  -moz-box-shadow: 0px 8px 12px -7px rgb(66 68 90);
  box-shadow: 0px 8px 12px -7px rgb(66 68 90);
  border: 1px solid var(--white);
  border-radius: 4px;
  max-width: 650px;
}

.profile .box .form-footer {
  background-color: #f9fafb;
  border-top: 1px solid #f9fafb;
}

.icoMini {
  border-radius: 100%;
  border: 1px solid whitesmoke;
}

#selectImgAvatar {
  background-color: var(--white);
  border-color: #ced4da;
  text-transform: uppercase;
  font-size: var(--text-sm);
}

.profile .info {
  max-width: 500px;
}

.profileInformation .info p {
  font-size: var(--text-sm);
}

.page-content {
  padding-top: 61px;
  padding-left: 250px;
  position: relative;
  z-index: 0;
}

.div-navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
}